body{
    font-family: Arial, Helvetica, sans-serif;
    background: #643d87 url(../segundo_formulario/imagens/fundo.jpg) no-repeat center top;
}

#container{
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

#container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding-left: 5px;
    border: none;
    font-size: 18px;
    padding-left: 40px 40px;
    background-repeat: no-repeat;
    background-position: 10px;
}

input.email{
    background-image: url(../segundo_formulario/imagens/icone-usuario.png);
}

input.senha{
    background-image: url(../segundo_formulario/imagens/icone-cadeado.png);
}

input.submit{
    color: #fff;
    background-color: #643d87;
    border: 2px solid #5a466b;
    padding: 5px 20px;
    height: 45px;
    width: 90%;

    background: linear-gradient(to bottom, #ba7edd 0%, #270942 100%);
}