body{
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
   margin: 1em 0;
   padding: 1em;
   border: 1px solid #000;
   background: #f8f8f8;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
    margin-bottom: .2em;
}
input{
    width: 20em;
}

textarea{
    width: 20em;
    height: 10em;
}
input.radio, input.checkbox, input.submit{
    width: auto;
}

.radio{
    margin-right: 1em;
}