*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

/* Layout */
#area-cabecalho{
    padding: 15px;
    background-color: #1b1a1a;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.postagem-lateral{
    font-size: 0.9em;
    padding: 5px;
    border-bottom: 1px dotted rgb(19, 18, 18);
    color: rgb(66, 4, 95);
}

#area-logo, #area-menu{
    padding: 10px;
}

/* formatacao dos menus */
a{
    text-decoration: none;
}

a:link, a:visited{
    color: rgb(241, 239, 243);
}
a:hover{
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
    padding: 8px 12px;
    color: rgb(241, 239, 243);
}

#area-cabecalho a:hover{
    background: rgb(74, 8, 87);
    text-decoration: none;
}

/* Formatacao em geral */

h1{
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(93, 18, 136);
}
h2{
    font-size: 1.5em;

    color: rgb(242, 233, 247);
}
h3{
    background: #CCC;
    padding: 5px;
    color: rgb(66, 4, 95);
}
.data-postagem{
    font-size: 0.9em;
    border-bottom: 1px solid rgb(218, 201, 228);
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
.branco{
    color: #fff;
}

#area-principal{
    width: 920px;
    padding: 15px;
    margin: 0 auto;
}

#area-postagens{
    width: 660px;
    float: left;
}

#area-lateral{
    width: 240px;
    float: right;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.conteudo-lateral{
    background: rgb(163, 160, 160);
    padding: 10px;
    margin-bottom: 20px;
}

#rodape{
    padding: 15px;
    clear: both;
    background-color: #e4dede;
    text-align: center;
}